@import '../../assets/sass/variables.sass'

.main-chart
    background: $darkSecondaryColor
    border-radius: 10px
    display: grid
    grid-template-columns: 100%
    padding: 20px

    .chart-title
        align-items: flex-start
        display: flex

        h1
            color: $lightColor
            margin: 0 0 0 20px

        img
            max-width: 40px

@media (max-width:991px)

    .main-chart

        .chart-title
            margin-bottom: 20px
