@import '../../assets/sass/variables.sass'

.main-table
    background: $darkSecondaryColor
    border-radius: 0.25rem
    padding: 20px

    h1
        color: $lightColor
        margin: 5px 0

    header
        border-bottom: 2px solid $darkColor
        display: grid
        grid-template-columns: 40% 20% 20% 20%
        margin: 0 20px 10px 0
        padding: 10px 0

        div
            color: $lightColor
            font-size: 18px

    .table-content
        height: 400px
        overflow: auto

        .table-line
            border-bottom: 1px solid $darkColor
            color: $lightColor
            display: grid
            grid-template-columns: 40% 20% 20% 20%
            padding: 3px 0
            transition: .15s

            .table-item
                align-items: center
                display: flex
                font-size: 14px

                img
                    height: auto
                    margin-right: 10px
                    width: 20px

        .table-line.selected
            background: $secondaryColor

        .table-line:hover
            background: $secondaryColor
            cursor: pointer

        .table-line:last-of-type
            border: 0

        .loader-component
            align-items: center
            display: flex
            height: 100%
            justify-content: center

@media (max-width:991px)

    .main-table

        header
            grid-template-columns: 35% 25% 20% 20%
            margin: 0

            div
                font-size: 12px

        .table-content
            max-height: 400px
            height: auto

            .table-line
                grid-template-columns: 35% 25% 20% 20%

                .table-item
                    font-size: 10px
