// Importar váriveis
@import './assets/sass/variables.sass';

body
    background: $secondaryColor

main
    display: grid
    grid-gap: 40px
    grid-template-columns: repeat(2, 1fr)
    padding: 40px

    .input-group

        label
            color: $lightColor
            margin-right: 10px

        input
            background: $secondaryColor
            border: none
            border-radius: 5px
            color: $lightColor
            padding: 8px

        input:hover, input:focus
            outline: none

    .loader-component

        .MuiCircularProgress-colorPrimary
            color: $primaryColor
            height: 80px
            width: 80px
